head {
       font-size:90px
}
body {
        /*color : #00FF00;*/
        color:rgb(215, 250, 246);
        background-color:rgb(95, 181, 227);
        text-align: center;
        font-size:25px
}
.foutboodschap {
        color:rgb(255, 173, 173);
        background-color:rgb(216, 71, 71);}
#test {
        color:rgb(173, 190, 255);
        background-color:rgb(71, 122, 216);
}

title {
        font-size: xx-large;

}

p {
        font-size: xx-large
        
}

button {
        color:deeppink;
        padding: 15;
        height: 50px;
        width: 180px;
        font-size: large;
        
}
#test {
        color:blueviolet;
        background-color: bisque;
}
