head {
       font-size:90px
}
body {
        /*color : #00FF00;*/
        color:rgb(0, 110, 220);
        background-color:rgb(113, 176, 210);
        text-align: center;
        font-size:25px
}

#rechts{
        color:rgb(255, 255, 255);
        text-align: right;

}
title {
        font-size:large;
}
label {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select {
        width:max-content;
        height: max-content;
        font-size: large;
        overflow-y:auto;
}
title {
        font-size:large;
}
label {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select {
        width:max-content;
        height: max-content;
        font-size: large;
        overflow-y:auto;
}
.foutboodschap {
        color:rgb(255, 173, 173);
        background-color:rgb(216, 71, 71);}
#test {
        color:rgb(173, 190, 255);
        background-color:rgb(71, 122, 216);
}

title {
        font-size: xx-large;

}

p {
        font-size: xx-large
        
}

button {
        color:deeppink;
        padding: 20;
        height: 75px;
        width: 200px;
        font-size: large;
        margin: 25px;
}
.test {
        background-color: rgb(32, 56, 126);
        color: rgb(150, 156, 201);
        font-family:verdana;
}
ul {
        list-style-type: none;
}