<html>
    <head>
        <title style="font-size:90px">{{ title }}</title>
        <meta http-equiv="refresh" content="10">
        <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='mycss.css')}}">
    </head>
    <body>
        <div>
        <h1>Wat is de vertaling van "{{ vraag }}" ? </h1>
            <p style="font-size:30px" style="font-family:verdana">A: {{antwoord}}</p>
            <p style="font-size:30px" style="font-family:verdana">B: {{antiwoord}}</p>
            <p style="font-size:30px" style="font-family:verdana">C: {{woordant}}</p>
        </div>
        <div> <p style="font-family:verdana">Wat is je keuze ?
            <form action="/controleer" method="post">
                <select name="antwoord" method="GET" action ="/">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    </select>
                <button type="submit" value="Controleer">Controleer antwoord</button>
            </form>            
        </select></p></div>
    </body>
</html>