<html>
    <head>
        <title style="font-size:90px">{{ title }}</title>
        <meta http-equiv="refresh" content="10">
        <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='mycss.css')}}">
    </head>
    <body>
        <div>
            <h1>Wat is de vertaling van "{{ vraag }}" ? </h1>
    
        <div> <p style="font-family:verdana">Wat is je keuze ?
            <form action="/controleer" method="post">
                <select name="antwoord" method="GET" action ="/" multiple>
                    <option value="A">{{antwoord}}</option>
                    <option value="B">{{antiwoord}}</option>
                    <option value="C">{{woordant}}</option>
                    </select>
                <button type="submit" value="Controleer">{{antwoord}}</button>
            </form>            
        </select></p></div>
    </body>
</html>