<!DOCTYPE html>
    <html lang="nl">
        <head>
            <title>talen</title>
            <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='mycss.css')}}">
        </head>
        <body>
            <div>
            <h1 id="mirthe">Welkom</h1>
            </div>
            <div>
            <p class="test">Welke taal wil je inoefenen?</p>
            <a  href="/Frans" >Frans</a>
            <a href="/Engels">Engels</a>
            <a href="/Duits">Duits</a>
            </div>
        </body>
    </html>
