<!DOCTYPE html>
<html lang="nl">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='mycss.css')}}">
    </head>
    <body>
        <div id="rechts">
            <a href="/">andere taal</a>
        </div>
        <div>
            <h1>Wat is de vertaling van "{{ model.Vraag }}" ? </h1>
        </div>
        <div> <p>Wat is je keuze?</p>
            <form action="/controleerEN" method="post">
                <button type="submit" name="antwoordA" value="A">{{model.Antwoord}}</button>
                <button type="submit" name="antwoordB" value="B">{{model.Antiwoord}}</button>
                <button type="submit" name="antwoordC" value="C">{{model.Woordant}}</button>
            </form>
        </div>
    </body>
</html>