<!DOCTYPE html>
<html lang="nl">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='mycss.css')}}">
    </head>
    <body>
        <div>
            <h1>Wat is de vertaling van "{{ vraag }}" ? </h1>
        <div> <p>Wat is je keuze?</p>
            <form action="/controleerEN" method="post">
                <button type="submit" name="antwoordA" value="A">{{antwoord}}</button>
                <button type="submit" name="antwoordB" value="B">{{antiwoord}}</button>
                <button type="submit" name="antwoordC" value="C">{{woordant}}</button>
            </form>
        </div>
        </div>
    </body>
</html>