<!DOCTYPE html>
<html lang="nl-BE">
    <head>
        <title style="font-size:90px">talen</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='mycss.css')}}">
    </head>
    <body>
        <div>
        <h1>Welkom</h1>
        </div>
        <div>
        <p style="font-family:verdana">Welke taal Wil je inoefenen?</p>
        <a href="/Frans" style="font-size:25px">Frans</a> 
        <h1></h1>   
        <a href="/Engels" style="font-size:25px">Engels</a> 
        <h1></h1>
        <a href="/Duits" style="font-size:25px">Duits</a> 
        </div>
        {% block talen %}
        {% endblock %}
    </body>
</html>