{% extends 'layout.html' %}

{% block body_content%}
<h1>Nieuw woord</h1>
<form action="/nieuwwoordpost" method="post">
    <div class="row">
        <div class="col">
            <label for="nederlands">Nederlands</label>
            <input type="text" id="nederlands" name="nederlands">
        </div>
        <div class="col">
            <label for="frans">Frans</label>
            <input type="text" id="frans" name="frans">
        </div>
        <input type="submit" class="btn btn-primary" value="Toevoegen" />
    </div>
</form>
{% endblock %}